body
{
  background-size: cover;
}
.heading
{
    font-size: 25px;
    width: 100%;
    margin: 0px;
}
#start,#number_of_objects,#status
{
    font-size: 18px;   
}
.copy_right_footer
{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #d4f0f7;
    color:black;
    text-align: center;
    line-height: 3;
}
canvas
{
    border: 10px solid cyan;
    border-radius:10px ;
    margin-top: 130px; 
    box-shadow:10px 10px 10px black;
    
}